.chart {
  max-width: 85vw;
  height: 50vh;

  display: flex;
  align-items: flex-end;
  gap: 16px;

  padding: 16px 16px 40px;

  overflow-x: auto;
}


@media (max-width: 600px) {
  .chart {
    max-width: 100%;
    height: 40vh;
    padding: 12px 8px 32px;
    gap: 10px;
  }
}
