.date-time-input__container {
    display: flex;
    gap: 12px;
  }
  
  .date-time-input__group {
    position: relative;
    flex: 1;
  }
  
  .date-time-input__input {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    outline: none;
    border: none;
    // border-radius: 8px;
    z-index: 2;
    background-color: transparent;
    border-bottom: 2px solid #777777;
  
    &:focus {
      border-color: #3b82f6;
    }
  
    &:focus + .date-time-input__label,
    &:not(:placeholder-shown) + .date-time-input__label {
      top: -5px;
      left: 2px;
      font-size: 12px;
      color: #090dff;
    }
  }
  
  .date-time-input__label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #666;
    pointer-events: none;
    transition: all 0.2s ease;
    background: white;
    padding: 0 4px;
  }
  