@import '../../colors.scss';

.auth {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            margin: 0;
        }
    }

    &__label {
        position: relative;
        top: -10px;
        color: $cPrimaryGray;
    }

    &__form {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    &__field {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .auth {
        gap: 10px;

        &__header {
            h2 {
                font-size: 34px;
            }
        }

        &__label {
            font-size: 20px;
        }

        &__form {
            width: 85%;
        }

        &__field {
            gap: 40px;
        }

        label.text-input__label, 
        label.password-input__label {
            font-size: 18px;
            top: -23px;
        }

        input {
            font-size: 20px;
        }


        .password-input__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }
}