@import '../../colors.scss';

.auth {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            margin: 0;
        }
    }

    &__label {
        position: relative;
        top: -10px;
        color: $cPrimaryGray;
    }

    &__form {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    &__field {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}