.form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 60%;
        align-items: center;
    }

}


@media (max-width: 600px) {
    .form {
        &__container {
            width: 90%;
        }
    }
}