@import '../../colors.scss';

.table-template {
    width: 100%;
    border: none;

    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    & thead {
        background-color: #5e81f433;
    }

    & tr {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    }

    & th, & td {
        border: none;
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    & tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    & tbody tr:hover {
        background-color: #f1f1f1;
    }
}