@import '../../colors.scss';


.sidebar {
    height: 100%;
    width: 60px;
    background-color: $cPrimary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 0 25px rgba(0, 0, 0, 0.15);

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__item {
        padding: 5px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: $cButtonHover;
        }

        & svg {
            width: 24px;
            height: 24px;
        }

        & svg, & path {
            fill: $cBackgroundWhite;
        }
    }
}