
// цвета

$cPrimary: #5e81f4;
$cPrimaryDark: #1c1d21;
$cOutline: #f0f0f3;
$cFontButtonDark: #7693f0;
$cBackgroundLight: #f5f5fa;
$cPrimaryOutline: #5e81f4;
$cButtonHover: #2d3f7b;
$cPrimaryGray: #8181a5;
$cBackground: #f6f6f6;
$cBackgroundWhite: #ffffff;
$cOutlineWhite: #ffffff;
$cYellow: #f4be5e;
$cGreen: #7ce7ac;
$cRed: #ff808b;
$cViolet: #9698d6;
$cPrimaryOpacity: rgba(184, 195, 230, 0.581);
$cPrimaryOpacityHover: #9cafebcd;
$cGreenOpacity: #7ce7ac;
$cRedOpacity: #ff808b;
$cYellowOpacity: #f4be5e;

