.password-input {
    &__container {
        display: flex;
        width: 100%;
        position: relative;
    }

    &__button {
        position: absolute;
        right: 0;
        z-index: 2;
    }

    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        width: 100%;
    }

    &__label {
        position: absolute;
        color: hsl(0, 0%, 47%); 
        top: 0;
        left: 5px;
        transition: 0.4s ease all;
        pointer-events: none;
    }

    &__input {
        padding: 5px;
        outline: none;
        border: none;
        width: calc(100% - 10px);
        z-index: 2;
        background-color: transparent;
        border-bottom: 2px solid #777777;

        &:focus + label, &:not(:placeholder-shown) + label {
            top: -15px;
            font-size: 12px;
            color: #090dff;
        }

        &:focus {
            border-color: #090dff;
        }
    }
}